.ui-widget-content {
	background-color: #FDFDFD;
}

.divRedondeado {

	border-radius: 15px;
    border-color: #D6DADD;
    box-shadow: none;
    padding: 4px 12px;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    margin: 5px;
}

/* CV.html */

.left{
	position: absolute;
	width: 25%;

background-color: #337ab7;
min-height: 100vh;
z-index: 100;
}

.right{
	background-color: #E3E7F5;
	min-height: 100vh;
	z-index: 101;
}
.container{
	z-index: 103;
}
.imgSelphi1{
	z-index: 104;
}
.imgSelphi2{
	position: absolute;
	left: 73%;
	top:6%;
	
	width: 55%;
	z-index: 105;
	background-color: transparent;
}
.profile-name {
    font-size: 22px;
    line-height: 1.4;
   
}
.bodyCV{
    font-family: 'Open Sans',sans-serif;
}
.titulo{
padding: 86px 0px 0px 17px;
}

.left ul{
	padding-top: 100px;
}
.left ul li{
	list-style : none;
	font-size: 20px;
	color: #DDDDDD;
	line-height: 1.6;
	
}
.left ul li:hover{
	color: orange;
}